
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="banner">
    <div class="slideshow-container">
        <div class="slideshow">
            <img src="~/Assets/User/Images/slider1.jpg" height="460px" alt="banner" width="100%" />
            <div class="slide-content">
                <div class="slide-text">
                    <h3>PHONG CÁCH SỐNG VÀ KHÔNG GIAN TIÊU CHUẨN</h3>
                    <p>
                        Không chỉ là sự tiện nghi, đây còn là không gian sống ấm cúng
                        cho mọi gia đình
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="container-content">
        <div class="container-col1">
            <div class="col1-block">
                <img src="~/Assets/User/Images/banner_2.jpg" width="350px" height="170px;" alt="daubep" />
                <div class="textdark">
                    <div class="text">
                        <h4>TÌM KIẾM SỰ TIỆN NGHI</h4>
                        <p><a href="Gioithieu.html">Xem thêm về National Direct</a></p>
                    </div>
                </div>
            </div>
            <div class="col1-block" style="margin: 0px 45px">
                <img src="~/Assets/User/Images/banner_1.jpg" width="350px" height="170px;" alt="daubep" />
                <div class="textdark">
                    <div class="text">
                        <h4>HƯỚNG TỚI TRẢI NGHIỆM TUYỆT VỜI</h4>
                        <p><a href="Gioithieu.html">Xem thêm về National Direct</a></p>
                    </div>
                </div>
            </div>
            <div class="col1-block">
                <img src="~/Assets/User/Images/banner_3.jpg" width="350px" height="170px;" alt="daubep" />
                <div class="textdark">
                    <div class="text">
                        <h4>MANG TỚI KHÔNG GIAN SANG TRỌNG</h4>
                        <p><a href="Gioithieu.html">Xem thêm về National Direct</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
        <div class="container-col2">
            <div class="col2-left">
                <div class="title">
                    <h4>CỬA HÀNG NATIONAL DIRECT</h4>
                    <div class="arrow-up"></div>
                </div>
                <div class="col2-main">
                    <div class="col2-img">
                        <img src="~/Assets/User/Images/25838820017_cde234a438_h.jpg" width="200px" alt="toa nha" />
                    </div>
                    <div class="col2-text">
                        <p>
                            Cửa hàng National Direct là trung tâm bán đồ gia dụng số 1
                            Việt Nam. Tại đây bạn có thể tìm kiếm sự tiện nghi, hiện đại
                            và sang trọng cho ngôi nhà của mình. Với đội ngũ bán hàng
                            nhiệt tình và chuyên nghiệp, National Direct mong muốn mang
                            lại cho quý khách đồ dùng chất lượng nhất.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col2-right">
                <div class="title">
                    <h4>TIN TỨC VỀ NATIONAL DIRECT</h4>
                    <div class="arrow-up"></div>
                </div>
                <div class="col2-content">
                    <div class="col2-block">
                        <a href="CTtintuc.html" style="margin: 0px">
                            <div class="col2-block-text">
                                <h5>Phong cách deco sang trọng</h5>
                                <div class="divider"></div>
                                <p>
                                    Phòng ngủ là một nơi được được thiết kế cho mọi người nghỉ ngơi
                                    [...]
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col2-block">
                        <a href="CTtintuc.html" style="margin: 0px">
                            <div class="col2-block-text">
                                <h5>Mẫu sản phẩm sẽ nhập sắp tới</h5>
                                <div class="divider"></div>
                                <p>
                                    Các sản phẩm mới sắp cập bến với kho hàng của National Direct
                                    [...]
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col2-block">
                        <a href="CTtintuc.html" style="margin: 0px">
                            <div class="col2-block-text">
                                <h5>Mang tới sự hài lòng cho khách hàng</h5>
                                <div class="divider"></div>
                                <p>
                                    Sự hài lòng không chỉ về sản phẩm mà còn cả về thái độ phục vụ
                                    [...]
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
        <div class="container-col3">
            <div class="title">
                <h4>LUXURY</h4>
                <div class="arrow-up"></div>
            </div>
            <div class="col3-main">
                <div class="col3-block margin-right">
                    <div class="col3-img">
                        <img src="~/Assets/User/Images/luxury_1.jpg" width="340px" height="180px;" alt="phong" />
                    </div>
                </div>
                <div class="col3-block margin-right">
                    <div class="col3-img">
                        <img src="~/Assets/User/Images/luxury_2.jpg" width="340px" height="180px" alt="phong" />
                    </div>
                </div>
                <div class="col3-block">
                    <div class="col3-img">
                        <img src="~/Assets/User/Images/suite_3.jpg" width="340px" height="180px" alt="phong" />
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
        <div class="container-col4">
            <div class="title">
                <h4>THƯ VIỆN ẢNH NATIONAL DIRECT</h4>
                <div class="arrow-up"></div>
            </div>
            <div class="col4-main">
                <div class="col4-text">
                    <p>
                        Những mẫu thiết kế sang trọng, tạo nên vẻ đẹp cho không gian sống của bạn
                    </p>
                </div>
                <div class="col4-slideshow">
                    <div class="slideshow-img">
                        <img id="imgSlide" src="~/Assets/User/Images/slideshow1.jpg" width="900px" height="420px" alt="anh khach san" />
                    </div>
                    <ul id="ulSlide">
                        <li class="active" onclick="liclick(1)"></li>
                        <li onclick="liclick(2)"></li>
                        <li onclick="liclick(3)"></li>
                        <li onclick="liclick(4)"></li>
                        <li onclick="liclick(5)"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gap"></div>
        <div class="brand">
            <div class="brand-main">
                <div class="brand-img">
                    <img src="~/Assets/User/Images/client1-300x132.png" alt="logo brand" width="280px;" height="125px" />
                </div>
                <div class="brand-img">
                    <img src="~/Assets/User/Images/client2-300x132.png" alt="logo brand" width="280px;" height="125px" />
                </div>
                <div class="brand-img">
                    <img src="~/Assets/User/Images/client3-300x132.png" alt="logo brand" width="280px;" height="125px" />
                </div>
                <div class="brand-img">
                    <img src="~/Assets/User/Images/client4-300x132.png" alt="logo brand" width="280px;" height="125px" />
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var imgList = [
        "/Assets/User/Images/slideshow1.jpg",
        "/Assets/User/Images/slideshow2.jpg",
        "/Assets/User/Images/slideshow3.jpg",
        "/Assets/User/Images/slideshow4.jpg",
        "/Assets/User/Images/slideshow5.jpg",
    ];
    function liclick(index) {
        let it = document.getElementById("imgSlide");
        it.setAttribute("src", imgList[index - 1]);
        let ul = document.getElementById("ulSlide");
        let li = ul.getElementsByTagName("li");
        for (let i = 0; i < li.length; i++) {
            if (i == index - 1) {
                li[i].setAttribute("class", "active");
            } else {
                li[i].setAttribute("class", "");
            }
        }
    }
</script>