
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


@section style {
    <link rel="stylesheet" href="~/Assets/User/css/Gioithieu.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/User/css/Tintuc.css" type="text/css">
}

<div class="gt-banner">
    <div class="gt-banner-content">
        <div class="gt-banner-img">
            <img src="~/Assets/User/Images/page-title-background.jpg" alt="">
            <div class="gt-banner-block">
                <div class="gt-banner-title">
                    <h1>TIN TỨC</h1>
                </div>
                <div class="gt-banner-text">
                    <a href="/Home/Index">Trang chủ </a>
                    <span class="gach_ngang"> / </span>
                    Tin tức
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>
<div class="tt-container">
    <div class="tt-main">
        <div class="tt-col1">
            <div class="ttcol1-search">
                <form>
                    <input type="search" placeholder="  Tìm kiếm...">

                </form>
                <button><img src="Icon/search.png" height="25px" widht="25px" alt=""></button>
            </div>
            <div class="ttcol1-post">
                <div class="post-title">
                    <h3>Bài viết mới</h3>
                </div>
                <ul class="post-menu">
                    <li>
                        <div class="post-box">
                            <div class="post-img">
                                <img src="~/Assets/User/Images/tt1.jpg" height="45px" alt="">
                            </div>
                            <div class="post-text">
                                <a href="CTtintuc.html">Phong cách deco sang trọng cho căn nhà của bạn</a>
                            </div>
                        </div>
                    </li>
                    <li class="border-top">
                        <div class="post-box ">
                            <div class="post-img">
                                <img src="~/Assets/User/Images/tt2.jpg" height="45px" alt="">
                            </div>
                            <div class="post-text">
                                <a href="CTtintuc.html">Mẫu hàng sẽ nhập sắp tới</a>
                            </div>
                        </div>
                    </li>
                    <li class="border-top">
                        <div class="post-box">
                            <div class="post-img">
                                <img src="~/Assets/User/Images/tt3.jpg" height="45px" alt="">
                            </div>
                            <div class="post-text">
                                <a href="CTtintuc.html">Những tiện lợi mà sản phẩm ở National Direct đem lại</a>
                            </div>
                        </div>
                    </li>
                    <li class="border-top">
                        <div class="post-box">
                            <div class="post-img">
                                <img src="~/Assets/User/Images/tt4.jpg" height="45px" alt="">
                            </div>
                            <div class="post-text">
                                <a href="CTtintuc.html">
                                    Sự nhiệt tình và chuyên nghiệp của nhân viên tư vấn của
                                    National Direct
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="border-top">
                        <div class="post-box">
                            <div class="post-img">
                                <img src="~/Assets/User/Images/tt5.jpg" height="45px" alt="">
                            </div>
                            <div class="post-text">
                                <a href="CTtintuc.html">National Direct mang tới sự hài lòng cho khách hàng</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tt-col2">
            <div class="ttcol2-main">
                <div class="ttcol2-block">
                    <div class="ttcol2-block-main">
                        <a href="CTtintuc.html">
                            <div class="ttblock-img">
                                <img src="~/Assets/User/Images/tt1.jpg" width="245px" height="135px" alt="">
                            </div>
                            <div class="ttblock-content">
                                <div class="ttblock-title">
                                    <h5>Phong cách deco sang trọng</h5>
                                </div>
                                <div class="divider"></div>
                                <div class="ttblock-text">
                                    <span>Những màu sắc hiện đại mang tới sự sang trọng cho căn phòng ...</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ttcol2-block">
                    <div class="ttcol2-block-main">
                        <a href="CTtintuc.html">
                            <div class="ttblock-img">
                                <img src="~/Assets/User/Images/tt3.jpg" width="245px" height="135px" alt="">
                            </div>
                            <div class="ttblock-content">
                                <div class="ttblock-title">
                                    <h5>Mẫu hàng sẽ nhập sắp tới</h5>
                                </div>
                                <div class="divider"></div>
                                <div class="ttblock-text">
                                    <span>Các sản phẩm mới sắp cập bến với kho hàng của National Direct ...</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ttcol2-block">
                    <div class="ttcol2-block-main">
                        <a href="CTtintuc.html">
                            <div class="ttblock-img">
                                <img src="~/Assets/User/Images/tt4.jpg" width="245px" height="135px" alt="">
                            </div>
                            <div class="ttblock-content">
                                <div class="ttblock-title">
                                    <h5>Sự tiện lợi của sản phẩm</h5>
                                </div>
                                <div class="divider"></div>
                                <div class="ttblock-text">
                                    <span>
                                        Nhu cầu ngày càng tăng sự tiện lợi của sản phẩm cũng được tăng theo
                                        ...
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ttcol2-block">
                    <div class="ttcol2-block-main">
                        <a href="CTtintuc.html">
                            <div class="ttblock-img">
                                <img src="~/Assets/User/Images/tt2.jpg" width="245px" height="135px" alt="">
                            </div>
                            <div class="ttblock-content">
                                <div class="ttblock-title">
                                    <h5>Nhân viên của National Direct</h5>
                                </div>
                                <div class="divider"></div>
                                <div class="ttblock-text">
                                    <span>
                                        Nhân viên với sự nhiệt tình và chuyên nghiệp luôn sẵn sàng đốn tiếp
                                        ...
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ttcol2-block">
                    <div class="ttcol2-block-main">
                        <a href="CTtintuc.html">
                            <div class="ttblock-img">
                                <img src="~/Assets/User/Images/tt5.jpg" width="245px" height="135px" alt="">
                            </div>
                            <div class="ttblock-content">
                                <div class="ttblock-title">
                                    <h5>Mang tới sự hài lòng cho khách hàng</h5>
                                </div>
                                <div class="divider"></div>
                                <div class="ttblock-text">
                                    <span>Sự hài lòng không chỉ về sản phẩm mà còn cả về thái độ phục vụ ...</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ttcol2-block">
                    <div class="ttcol2-block-main">
                        <a href="CTtintuc.html">
                            <div class="ttblock-img">
                                <img src="~/Assets/User/Images/tt6.jpg" width="245px" height="135px" alt="">
                            </div>
                            <div class="ttblock-content">
                                <div class="ttblock-title">
                                    <h5>Rất nhiều khách hàng đã tin dùng</h5>
                                </div>
                                <div class="divider"></div>
                                <div class="ttblock-text">
                                    <span>
                                        Với sự đáng giá cao từ phía khách hàng chúng tôi sẽ cố gắng phát huy
                                        ...
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>

